@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&display=swap');
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");


/* 
# CORES DO DISCORD
Verde 57F287 🟩 
Amarelo FEE75C 🟨 
Vermelho ED4245 🟥 
Azul 5865F2 🟦 
*/


:root {

    --cor-dc-amarelo: #FEE75C;
    --cor-dc-vermelho: #ED4245;
    --cor-dc-verde: #57F287;
    --cor-dc-azul: #5865F2; 

    /* -------------------------------------------- */
    /* FONTES */
     /* Bate-papo, canais, etc... */
    /* --font-primary: sans-serif; */

      /* Servidor/canal/cargos/etc*/
    /* --font-display: sans-serif; */

      /* Blocos de código */
    /* --font-code: "Fira Code", sans-serif; */

    /* -------------------------------------------- */
}

/* BLOCO DE CÓDIGO */
code {
    font-family: 'Fira Code', 'JetBrains Mono';
    -webkit-font-feature-settings: "liga"on, "calt"on;
    text-rendering: optimizeLegibility;
}
/* -------------------------------------------- */s
/*borda da area de enviar mensagens arcoiris*/
.scrollableContainer-15eg7h {
    border: solid 1px !important;
    animation: rainbow 5s linear 0s infinite normal !important;
  }
  @keyframes rainbow {
      0%    {color: #ff0000}
      12%   {color: #ffbf00}
      25%   {color: #80ff00}
      37%   {color: #00ff40}
      50%   {color: #00ffff}
      62%   {color: #0040ff}
      75%   {color: #8000ff}
      87%   {color: #eb34bd}
      100%  {color: #ff0000}
  }

/* .editor-H2NA06 {
    border: solid 1px !important;
    animation: SinAma 5s linear 0s infinite alternate !important; 
    }*/ /*SinAma == Sinalização Amarela */
    /* @keyframes SinAma {
        0%    {color: #F0E68C}
        25%   {color: #FFFF00}
        50%   {color: #FFD700}
        100%   {color: #ffbf00}
    } */
/* -------------------------------------------- */
  /* FUNDO DA SELEÇÃO DE TEXTO */
::selection {
    font-size: 13px;
    background-color: rgba(88, 101, 242, 0.7) !important;
    color: #fff !important;
}
/* -------------------------------------------- */


/* -------------------------------------------- */
/* Texto editado */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
    content: " (" attr(aria-label) ")";
  color: var(--text-muted);
  font-size: 0.625rem;
      font-weight: 400;
      line-height: 1;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  text-transform: lowercase;
}
/* -------------------------------------------- */