/* Hide member list */
:root {
  --hover-animation-speed: 0.35s;
  --seperator-color: var(--background-accent);
}
.membersWrap-2h-GB4 {
  min-width: unset;
  width: 50px;
  justify-content: right;
}
.members-1998pB {transition: transform var(--hover-animation-speed);}
.membersWrap-2h-GB4:hover .members-1998pB {transform: translateX(-190px);}
.membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
  content: '';
  width: 30px;
  height: 2px;
  border-radius: 50px;
  background: unset;
  background-color: var(--seperator-color);
  position: absolute;
  left: -36px;
  top: 29px;
  margin-left: 0px;
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
  background-color: unset;
  margin-left: 0px;
  transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {margin-left: 8px;}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {transform: translateX(-6px);}
.membersWrap-2h-GB4 .membersGroup-v9BXpm {
  cursor: default;
  transform: translateX(45px);
  transition: transform var(--hover-animation-speed);
  overflow: visible;
}

.markup-eYLPri .slateTextArea-27tjG0 .fontSize16Padding-XoMpjI{
	content: "";
	font-size: 0;
}
.markup-eYLPri .slateTextArea-27tjG0 .fontSize16Padding-XoMpjI{
	content: "Foda-se";
	font-size: 20px;
}

.member-3-YXUe[user_by_bdfdb="289112759948410881"] .nameAndDecorators-5FJ2dg::after {
    content: "";
    
    width: 16px;
    height: 16px;
    margin-left: 4px;
    
    background: url("https://cdn.discordapp.com/emojis/694418553662865428.png?v=1") center / 100% 100%;
}